html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  color: #eee;
  overflow: hidden;
}
a {
  color: rgb(156, 156, 247);
}
a:visited {
  color: rgb(192, 95, 230);
}
#main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
}
