html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  color: #eee;
  overflow: hidden;
}
a {
  color: #33f;
}
a:visited {
  color: #83f;
}
#main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
}
