<!DOCTYPE html>
<html lang="en">
  <head>
    <title>lmorchard sketches</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./index.css">
  </head>
  <body>
    <h1>lmorchard sketches</h1>
    <p>
      Source code <a href="https://github.com/lmorchard/sketches-v01">available on GitHub</a>!
    </p>
    <ul>
      <% for (const { path, name } of sketches) { %>
        <li><a href="<%= path %>"><%= name %></a></li>
      <% } %>
    </ul>
  </body>
</html>
